<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestCustomListView"></activity>
        <activity android:name=".TestTextInputLayout" />
        <activity
            android:name=".TestCalculator"
            android:theme="@style/AppTheme2" />
        <activity android:name=".TestCountDownTimer" />
        <activity android:name=".TestChronometer" />
        <activity android:name=".TestToggleButton" />
        <activity android:name=".TestSwitch" />
        <activity android:name=".testCheckBox" />
        <activity android:name=".testRadioButton" />
        <activity android:name=".TestEditText" />
        <activity android:name=".List_code" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>